src/main/mule/Transform_TO_XML.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="025e46d2-5266-49e4-a39f-5cbdb619c3cf" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="ea31502f-bdee-485f-9fb3-bd4656c6fd99" >
		<salesforce:basic-connection username="ankit.mathur741@agentforce.com" password="8146806917@Ankit0" securityToken="HDfukyEfoXl1BzUEduInf6SQ7" />
	</salesforce:sfdc-config>
	<flow name="Transform_TO_XMLFlow" doc:id="074bc206-4558-4527-8adf-c8c0da5afc89" >
		<http:listener doc:name="Listener" doc:id="5647f7c6-2f13-413e-9767-595beeea7e91" config-ref="HTTP_Listener_config" path="/stest"/>
		<logger level="INFO" doc:name="Logger" doc:id="7e7b2e7e-b47b-4b5e-b7b1-e4b270c1709a" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="fa75c478-5c75-4eb1-b237-479e77772026">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
[{
  orderId__c: "ORD002",
  creationDate__c: "2025-06-01" as Date,
  cancelationDate__c: "2025-06-01" as Date,
  Name: "87492b1a-ddaa-4f26-2f86-09960effda1e"
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="43fca317-60eb-4e42-9ee6-8b6f50854b98" message="#[payload]"/>
	</flow>
</mule>
