src/main/mule/Transform_TO_XML.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="025e46d2-5266-49e4-a39f-5cbdb619c3cf" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="Transform_TO_XMLFlow" doc:id="074bc206-4558-4527-8adf-c8c0da5afc89" >
		<http:listener doc:name="Listener" doc:id="5647f7c6-2f13-413e-9767-595beeea7e91" config-ref="HTTP_Listener_config" path="/123"/>
		<logger level="INFO" doc:name="Logger" doc:id="7e7b2e7e-b47b-4b5e-b7b1-e4b270c1709a" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="fa75c478-5c75-4eb1-b237-479e77772026" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"HELLOOOOO!!!! I AM DOING CI/CD" ++ "YOOOOOOOOOOOOOOOOOOO"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="43fca317-60eb-4e42-9ee6-8b6f50854b98" message="#[payload]"/>
	</flow>
</mule>
